version: '3.8'
services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb-basic
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminpass123
      DOCKER_INFLUXDB_INIT_ORG: myorg
      DOCKER_INFLUXDB_INIT_BUCKET: mybucket
    volumes:
      - influxdb-data:/var/lib/influxdb2
volumes:
  influxdb-data:
