# 06-deployment-manager-binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: deployment-manager-binding
  namespace: rbac-demo
  labels:
    app: rbac-demo
subjects:
- kind: ServiceAccount
  name: deployment-manager
  namespace: rbac-demo
roleRef:
  kind: Role
  name: deployment-manager
  apiGroup: rbac.authorization.k8s.io
