# 14-secret-reader-binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secret-reader-binding
  namespace: rbac-demo
  labels:
    app: rbac-demo
subjects:
- kind: ServiceAccount
  name: secret-reader
  namespace: rbac-demo
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
